# 환경 설정
.env
.env.local
.env.*.local

# 데이터 파일
data/raw/*
data/generated/*
data/curated/*
!data/raw/.gitkeep
!data/generated/.gitkeep
!data/curated/.gitkeep

# 모델 파일
outputs/models/
!outputs/models/.gitkeep

# 로그 파일
outputs/logs/
!outputs/logs/.gitkeep
logs/*
# 결과 파일
outputs/results/
!outputs/results/.gitkeep
output_s/
outputs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
unsloth_compiled_cache/*

# 가상환경
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/

# WandB
wandb/

# OS
.DS_Store
Thumbs.db

#flash attention
flash-attention/
